*.DS_Store
*login.sh
codes/batch/SparkCassie/project/target/
codes/batch/SparkCassie/project/project/target/
codes/batch/SparkCassie/target/
codes/streaming/StreamProcessing/project/target/
codes/streaming/StreamProcessing/project/project/target/
codes/streaming/StreamProcessing/target/
codes/api_pulling/push_json_to_s3.py
codes/ingestion/kafka_2.9.2-0.8.1.1
credentials.txt
data/raw/*
data/parsed/*
data/map_url/*
*.pyc

